<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-config.dtd"> 

<configuration>
  <typeAliases>
    <typeAlias alias="g" type="com.naver.model.GBean" />
    <!-- 새로운 객체명 g를 만듬. -->
    <typeAlias alias="c" type="com.naver.model.ComBean" />
  </typeAliases>     
</configuration>